<header class="nav">
  <div class="container-fluid">
    <div class="nav-wrapper">
      <div class="nav-left">
        {% for link in section.settings.menu.links %}
          {% if link.links != blank %}
            <div class="rl-con">
              <button>{{ link.title }} {% render 'icon-dd' %}</button>
              <div class="rl-ab">
                {% for childlink in link.links %}
                  <a href="{{ childlink.url }}">
                    <div>
                      <p>
                        {{ childlink.title }}
                      </p>
                    </div>
                  </a>
                {% endfor %}
              </div>
            </div>
          {% else %}
            <a href="{{ link.url }}" class="nm-l">{{ link.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
      <div class="nav-logo">
        <a href="{{ shop.url }}"><img src="{{ section.settings.select_logo | img_url: 'master' }}" alt=""></a>
      </div>
      <div class="nav-cart">
        <a href="{{ routes.cart_url }}">{% render 'cart-icon' %}</a>
      </div>
    </div>
  </div>
</header>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "default": "main-menu",
        "label": "Heading Navigation Menu"
      }, {
        "type": "image_picker",
        "id": "select_logo",
        "label": "Change Logo"
      }
    ]
  }
{% endschema %}