<section class="dont-work padb-75">
  <div class="dw-txt">
    <p>{{ section.settings.dw-top }}</p>
  </div>
  <div class="dw-top">
    <img src="{{ section.settings.product_img |  img_url: 'master' }}" alt="">
  </div>
  <div class="container">
    <div class="dw-wrapper">
      <div class="dw-head">
        {{ section.settings.heading1 }}
        <h2 class="all-caps">{{ section.settings.heading2 }}</h2>
      </div>
      <div class="dw-content">
        {% for block in section.blocks %}
          <div class="item">
            <div class="dwi-img">
              <img
                src="{{ block.settings.img |  img_url: 'master' }}"
                alt=""
                class="icon">
            </div>
            <div class="dwi-head">
              <p>{{ block.settings.head }}</p>
            </div>
            <div class="dwi-para">
              <p>{{ block.settings.para }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Dont Work Solutions",
    "settings": [
      {
        "type": "text",
        "id": "dw-top",
        "label":"Top Para"
      },
      {
        "type": "image_picker",
        "id": "product_img",
        "label": "Product Image"
      }, {
        "type": "richtext",
        "id": "heading1",
        "label": "Heading one"
      }, {
        "type": "text",
        "id": "heading2",
        "label": "Heading two"
      }
    ],
    "blocks": [
      {
        "name": "Side Effects",
        "type": "side-effect",
        "settings": [
          {
            "type": "image_picker",
            "id": "img",
            "label": "Select Image"
          }, {
            "type": "text",
            "id": "head",
            "label": "Heading"
          }, {
            "type": "text",
            "id": "para",
            "label": "Paragraph"
          }
        ]
      }
    ]
  }
{% endschema %}