<section class="why-undo-works pad-130">
  <div class="container">
    <div class="wuw-head">
      <h3>{{ section.settings.head-half1 }}<span class=undo-img><img src="https://cdn.shopify.com/s/files/1/0651/3285/5486/files/undo-logi.png?v=1712491777" class=icon></span>
        {{ section.settings.head-half2 }}</h3>
    </div>
    <div class="wuw-wrapper">
      {% for block in section.blocks %}
        <div class="item">
          <div class="left-head">
            <h2>{{ block.settings.head }}</h2>
            <p>{{ block.settings.subhead }}</p>
          </div>
          <div class="right-con">
            {{ block.settings.content }}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Why UNDO Works",
    "settings": [
      {
        "type": "text",
        "id": "head-half1",
        "label": "Heading half"
      }, {
        "type": "text",
        "id": "head-half2",
        "label": "Heading half"
      }
    ],
    "blocks": [
      {
        "name": "Why Undo",
        "type": "why-undo",
        "settings": [
          {
            "type": "text",
            "id": "head",
            "label": "Heading"
          }, {
            "type": "text",
            "id": "subhead",
            "label": "Sub Heading"
          }, {
            "type": "richtext",
            "id": "content",
            "label": "Content"
          }
        ]
      }
    ]
  }
{% endschema %}